.center-header {
    color:black;
    text-align: center;
    font-style: italic;
  }
  
  .skill-container {
    border: solid yellowgreen;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin-bottom: 10px;
  }
  
  .skill-container > h3 {
    color: green;
    font-style: italic;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: yellowgreen;
  }
  
  .active {
    background-color: pink;
  }

  